<%= render "shared/header" %>
<div class="order-page-wrap">
	<div class="restaurant-box">
		<h2>1. Select your Restaurant</h2>
		<div class="form-group">
			<label for="city">Select Destination City</label>
			<select class="form-control" id="restaurant">
				<option value=''/>
			</select>
		</div>
	</div>

	<div class="starter-box">
		<h2>2. Select your Starters</h2>
		<div class="starters-wrapper"></div>
	</div>

	<div class="main-box">
		<h2>3. Select your Mains</h2>
		<div class="mains-wrapper"></div>
	</div>

	<div class="pudding-box">
		<h2>4. Select your Puddings</h2>
		<div class="puddings-wrapper"></div>
	</div>

	<div class="side-box">
		<h2>5. Select your Sides</h2>
		<div class="sides-wrapper"></div>
	</div>

	<div class="email-box">
		<h2>6. Enter your Email</h2>
		<label for="order-email">Email Address:</label>
		<input type="email" id="order-email" class="form-control" placeholder="Enter email"/>
	</div>

	<div class="confirm-box">
		<h2>7. Confirm your Order</h2>
	</div>
</div>
