.order-page-wrap {
	padding: 60px 0px;
	margin-bottom: 60px;
	height: 100vh;
	
	div.box {
		clear:both;
		display:block;
		overflow: auto;
	}
	
	div.total-wrap {
		* {
			display:inline;
		}
	}
	
	button#order-submit {
		float: right;
		padding-right: 2%;
	}
	
	div.item-listing {
		width: 100%;
		clear: both;
		margin: 1px 0px;
		padding: 2px 0px;
		span.name {
			float: left;
		}
		
		div.price-checkbox-wrap {
			float: right;
			
			span.price {
				float: left;
				padding-right: 5px;
			}
			
			input[type='checkbox'] {
				float: right;
			}
		}
	}
}
