<!DOCTYPE html>
<html>
<head>
  <title>Blue Sun Takeaway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <%= yield %>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <span class="navbar-text navbar-left"><div class="glyphicon glyphicon-copyright-mark"></div>Blue Sun Corperation</span>
    <span class="navbar-text navbar-right">Driver login placeholder</span>
  </div>
</nav>

</body>
</html>
